extends layout

block content
    form#register(action="")
        input#register-username
        input#register-password(type="password")
        button Register

    form#login(action="")
        input#username
        input#password(type="password")
        button Login

    script(src='/javascripts/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/javascripts/login.js')
