extends layout

block content
    form#register(action="")
        input#register-username
        input#register-password(type="password")
        button Register

    form#login(action="")
        input#username
        input#password(type="password")
        button Login

    ul#messages
    form#f(action="")
        input#m(autocomplete="off")
        button Send

    script(src='/javascripts/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/javascripts/chat.js')
